### Q1) find the index values of if a is present in the given string or not and also print the sum of these indexes

In [4]:
a='hai hai hai'
b=[]
for i in range(len(a)):
    if a[i]=='a':
        b.append(i)
print('the indexes are =',*b)
print('the sum of the indexes =',sum(b))

the indexes are = 1 5 9
the sum of the indexes = 15

### Q2)l1=['Hyd','Mumbai','Chennai','blr'] ans=['Mumbai','Chennai']   we want lements which are len of element >4

In [2]:
a=['hyd','mumbai','chennai','blr']
b=[]
for i in a:
    if len(i)>4:
        b.append(i)
print(*b)

mumbai chennai

### Q3)l1=['Hyd','Mum#bai','Chen#nai','blr'] ans=['Mum#bai'',Chen#nai'] we want lements which are having '#'

In [3]:
a=['Hyd','Mum#bai','Chen#nai','blr']
b=[]
for i in a:
    if '#' in i:
        b.append(i)
print('the elements having # =',*b)

# 'viswas' in '#'   # viswas iis available in #
# '#' in 'viswas'   # is '#' is available in viswas
# 'viswa#as' in #    # is 'visw##as in '#'
# '#' in visw##as    # is '#' available in 'viswa##s'

the elements having # = Mum#bai Chen#nai

### Q4)l1=['hyd','mumbai','chennai','blr' ans= ['Hyd','Mumbai','Chennai','Blr']we want lements which are len of element >4

In [22]:
b=[]
a=['hyd','mumbai','chennai','blr']
for i in a:
    if len(i)<4:
        b.append(i)
print(*b)

hyd blr

### Q5)l1=['Hyd','Mumbai','chennai','blr'] ans= ['Hyd','Mumbai'] we want lements which are having first letter capital

In [7]:
a=['Hyd','Mumbai','chennai','blr']
b=[]
for i in a:
    if i.istitle():
        b.append(i,)
print(*b)

####################################

a=['Hyd','Mumbai','chennai','blr']
b=[]
for i in a:
        b.append(i.title())
print(*b)


# what is the diffenece between title and upper

Hyd Mumbai
Hyd Mumbai Chennai Blr

In [9]:
a='hello im learning python'
# make everyword capatalize
a.title()

'Hello Im Learning Python'

In [ ]:
# do the same using capatilize method
# step-1 split the string
# step-2 take empty list
# step-3 iterate the each letter and aply capatilize and append it
# step-4 join the list

a='hello im learning python'
b=a.split()
for i in b:

### Q-6

In [24]:
#Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
#  ans_#=['Mum#bai'',Chen#nai']  
#  ans_without_#=['Hyd'','blr']
#  we want lements which are not having '#'

a=['Hyd','Mum#bai','Chen#nai','blr']
with1=[]
without=[]
for i in a:
    if '#' in i:
        with1.append(i)
    else:
        without.append(i)
print(' ans_# with # present=',*with1)
print('# is not present words are =',*without)

 ans_# with # present= Mum#bai Chen#nai
# is not present words are = Hyd blr

### Q-7

In [39]:
# Q7) ask the user get 5 numbers randomly
#     even_list and odd_list
#     even numbers should append at even_list
#     odd number should append at odd_list

import random
b=[]
even=[]
odd=[]
for i in range(5):
    a=(random.randint(1,10))
    b.append(a)
for j in b:
    if j%2==0:
        even.append(j)
    else:
        odd.append(j)
print('the even numbers =',*even)
print('the odd numbers =',*odd)

the even numbers = 10 2
the odd numbers = 5 9 5

### Q-8
- Q8) str='hello hai how are you'-  Maximum len of word using split and max metho .d- # sum of all the indexes of the maximum len of word using append

In [11]:
a=' hello hai how are you'
b=a.split()
d=[]
e=[]
c=0
for i in b:
    if len(i)>c:
        d.append(i)
        c=len(i)
g=str(*d)
print('the maximum length of word =',g)
for j in range(len(g)):
    e.append(j)
print('the sum of their indexes =',sum(e))

the maximum length of word = hello
the sum of their indexes = 10

### Q-9
- Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
- Firstname=[]  second name=[]  cname =[]
- append first name should be in first name list
- second name shoul be in second name list
- thirs name will be in thirs name list

In [116]:
a='virat.kohli@rcb.com,Rohit.sharma@mi.com,KL.Rahul@lucknow.com'
b=a.split(',')
first_name,second_name,company=[],[],[]
for i in b:
    name,domain=i.split('@')
    first,second=name.split('.')
    first_name.append(first)
    second_name.append(second)
    company.append(domain.split('.')[0])
print(*first_name)
print(*second_name)
print(*company)

virat Rohit KL
kohli sharma Rahul
rcb mi lucknow

In [51]:
a='virat.kohli@rcb.com'
b=a.index('.')
c=a.index('@')
d=a.index('.',c)
print('first name is =',a[0:b])
print('second name is =',a[b+1:c])
print('company name =',a[c+1:d])

first name is = virat
second name is = kohli
company name = rcb

### Q-10)
- You have two lists
- qns=['What is capital of India','Who is PM of india','Who is ICT ODI captian']
- ans = ['Delhi','Modi','Rohit']

In [77]:
a=['What is capital of India','Who is PM of india','Who is ICT ODI captian','viswas']
c=['Delhi','Modi','Rohit','viswas']
sum=0
for i in range(len(a)):
    for j in range(len(c)):
        if i==j:
            sum+=1
        else:
            sum=sum
print(sum)

4

In [6]:
a=['What is capital of India','Who is PM of india','Who is ICT ODI captian']
c=['Delhi','Modi','Rohit']
b=0
for i in range(len(a)):
    c1=input(a[i])
    if c1.lower()==c[i].lower():
        b+=1
print('the total marks are =',b)

What is capital of India delhi
Who is PM of india modi
Who is ICT ODI captian rohit

the total marks are = 3

In [125]:
a='viswas.reddy@vishnu.com'
name,domain=a.split('@')
first,second=name.split('.')
college=domain.split('.')[0]
print(first)
print(second)
print(college)

viswas
reddy
vishnu

# METHODS

In [7]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [70]:
append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

append vs extend vs concatination vs insert

pop vs remove

reverse vs reversed

index 
count
clear copy


# methods vs keywords
# keywords = inbuild functions
# print()  max() min()  len()  we write inside the brackets
# l.copy()  l.clear()  we start with a.copy() inside the bracket we write an statement

SyntaxError: unterminated string literal (detected at line 1) (142081801.py, line 1)

**append**

In [59]:
a=[1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

**clear**

In [11]:
a=[1,2,3,4,5,6]
a.clear()
a
# clear keyword is used to clear all the list

[]

**copy**

In [60]:
a=[1,2,3,4,5,6]
b=a.copy()
b
# copy means it give the output as list

[1, 2, 3, 4, 5, 6]

In [62]:
*a,*b

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

**count**

In [14]:
a=[1,1,1,1,22,2,2]
b=a.count(1)
b

# count is used to count the numbers

4

**extend**

In [47]:
# extend method
a=[1,2,3,4,5,6]
b=[1,2,3,4,5,6]
a.extend(b)
a
# output = [1,2,3,4,5,6][1,2,3,4,5,6]
########################
# append method
a=[1,2,3,4,5,6]
b=[1,2,3,4,5,6]
a.append(b)
a
# output = [1,2,3,4,5,6][1,2,3,4,5,6]
##########################
# concatination
a=[1,2,3,4,5,6]
b=[1,2,3,4,5,6]
d=a+b
d

###########################
# insert method
a=[1,2,3,4,5,6]
a.insert(1,4)
a

[1, 4, 2, 3, 4, 5, 6]

**index**

In [21]:
a=[1,2,3,4,5,6]
print(a.index(6))

5

**insert**

In [51]:
d=[1,2,3,4,5,6]
(d.insert(1,45))
d

[1, 45, 2, 3, 4, 5, 6]

**pop**

In [32]:
a=[1,2,3,4,5,6]
a.pop(1)
a

[1, 3, 4, 5, 6]

**pop vs remove**
- pop will remove element using index
- remove will remove element directly

In [50]:
t=[1,2,3,4,5,6]
t.remove(2)
t

[1, 3, 4, 5, 6]

**reverse**

In [57]:
t=[1,2,3,4,5,6]
t.reverse()
t

[6, 5, 4, 3, 2, 1]

**sorted'**

In [64]:
a=[6, 5, 4, 3, 2, 1]
b=sorted(a)
b

[1, 2, 3, 4, 5, 6]

**reverse vs reversed**

In [69]:
t=[1,2,3,4,5,6]
h=reversed(t)
for i in h:
    print(i,end=' ')

6 5 4 3 2 1

**sort**

In [55]:
a=[6, 5, 4, 3, 2, 1]
a.sort()
a

[1, 2, 3, 4, 5, 6]

**clear copy**
- if we use clear method it will clear complete list
- if we use copy method it wll print the same list in the output

In [81]:
a=[1,2,3,4]
a.extend((10,20,30,40))
a

[1, 2, 3, 4, 10, 20, 30, 40]

- append is just append the value base data  type
- extend is concatenate the value, and the list will be overwrite with new values
- extend can take any iterable format type i.e string,list,tuple
- extend and concationation both are same
- the list will not overwrite in concatination

**INDEX**
- index are same like string only

In [92]:
l1=[1, 2, 3,'apple',4, 10, 20,'apple', 30, 40]
i1=l1.index('apple')
i2=l1.index('apple',i1+1)
print(i1,i2)

3 7